@import '../../scss/variables.scss';


@media (min-width: 359px) and (max-width: 1235px) {

.logo{
    margin-top: 31PX;
}

.titleWrapper {
    width: 327px;

    .titleText {
        margin: 35px 0px 0px 0px;
        width: 327px;
        font-size: 28px;
        font-weight: $font-700;
        font-family: $bold;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 327px;

    .wrapperMessage {
        display: flex;
        justify-content:flex-start;
        width: 327px;
        height: 16px;
    }
    .error {
        margin: 0px;
        color: $red-message;
        font-weight: $font-400;
        font-size: 14px;
        font-family: $regular;
    }

    .lable {
        margin: 3px 0px 7px 0px;
        font-weight: $font-400;
        font-size: 14px;
        font-family: $regular;
    }

    .input {
        padding: 0px 0px 0px 10px;
        width: 327px;
        height: 48px;
        font-size: 16px;
        border-radius: 6px;
        outline: none;
    }

    .policyDoc {
        margin-top: 16px;
        width: 327px;
        height: 121px;

        .policyText {
            margin: 0px;
            font-family: $regular;
            font-weight: $font-400;
            font-size: 16px;

            .link {
                color: black;
                font-family: $regular;
                font-weight: $font-600;
                font-size: 16px;
            }
        }
    }

    .button {
        margin: 70px 0px 0px 0px;
        width: 327px;
        height: 48px;
        font-family: $regular;
        font-weight: $font-600;
        font-size: 16px;
        border-radius: 6px;
        background-color: black;
        color: white;
    }
}

.wrapperQuestinText{
    width: 327px;
    margin: 10px 0px 60px 0px;

    .questionText {
        margin: 0px;
        color: black;
        font-family: $regular;
        font-weight: $font-400;
        font-size: 16px;

        .link {
            color: black;
            font-family: $regular;
            font-weight: $font-600;
            font-size: 16px;
        }
    }
}
}



