@import '../../scss/variables.scss';

@media (min-width: 359px) and (max-width: 1235px) {

    .wrapperArrow{
        margin-top: 31PX;
        width: 89.44vw;
        height: 5.88vh;
    
        .buttonArrow {
            padding: 0px;
            width: 40px;
            height: 40px;
            border: none;
            background-color: white;
        }
    }

.functionalArea { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89.44vw;
    height: 100%;
    margin-bottom: 30px;

    .titleWrapper {
        width: 89.44vw;
        
        
        .title {
            margin: 22px 0px 0px 0px;
            font-weight: $font-700;
            font-family: $regular;
            font-size: 32px;
        }
    }

    .descriptionWrapper {
        width: 89.44vw;

        .description {
            margin: 20px 0px 0px 0px;
            font-weight: $font-400;
            font-family: $regular;
            font-size: 16px;
        }
    }

    .wrapperInput {
        margin-top: 32px;
        display: flex;
        column-gap: 8px;
        width: 89.44vw;
        height: 6.49vh;

        .otpInput {
            width: 6.49vh;
            height: 6.49vh;
            outline: none;
            text-align: center;
            font-size: 20px;
            border-radius: 6px;
        }
    }

    .linkWrapper {
        margin-top: 16px;
        width: 88.29vw;
    .link {
        font-weight: $font-600;
        font-family: $regular;
        font-size: 16px;
        color: black;
    }
}

    .button {
        width: 88.29vw;
        height: 6.49vh;
        font-family: $regular;
        font-weight: $font-600;
        font-size: 16px;
        border-radius: 6px;
        background-color: black;
        color: white;
    }
}
}