@import '../../scss/variables.scss';


@media (min-width: 359px) and (max-width: 1235px) {

    .text {
        margin: 10px 0px 0px 0px;
        width: 264px;
        font-family: $regular;
        font-weight: $font-400;
        font-size: 14px;
    }

    .button {
        border: none;
        width: 15px;
        height: 15px;
        background-color: white;
    }

    .cross {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
}