@media (min-width: 359px) and (max-width: 1235px) {

    .alert-enter {
        opacity: 0;
        height: 800px;
    }

    .alert-enter-active {
        opacity: 1;
        height: 100px;
        transition: height 3000ms;
    }

    .alert-exit {
        opacity: 1;
        height: 800px;
    }

    .alert-exit-active {
        opacity: 0;
    }
}