@media (min-width: 359px) and (max-width: 1235px) {

    @font-face {
        font-family: 'Bold';
        src: url('./fonts/Roboto-Bold.ttf');
    }

    @font-face {
        font-family: 'Regular';
        src: url('./fonts/Roboto-Regular.ttf');
    }

    @font-face {
        font-family: 'Inter';
        src: url('./fonts/InterTight-Regular.ttf');
    }


    html, body {
        margin: 0;
        width: 100%;
        height: 100%;
        /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
}